.card {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(161, 161, 161, 0.603);
};
.button {
  background-color: rgba(114, 113, 113, 0.603);;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}