.card {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(161, 161, 161, 0.603);
}
.button {
  background-color: rgba(114, 113, 113, 0.603);
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100%;
  background-size: cover;
  width: auto;
  background-image: url("https://wallpapersmug.com/download/1600x900/bf5c00/italian-national-park-4k.jpg");
  background-position: 50% 50%;
}
