<table mat-table [dataSource]="dataSource" class="table">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Imię</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>Nazwisko</th>
    <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Numer telefonu</th>
    <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
  </ng-container>

  <ng-container matColumnDef="companyname">
    <th mat-header-cell *matHeaderCellDef>Nazwa firmy</th>
    <td mat-cell *matCellDef="let element">{{ element.companyname }}</td>
  </ng-container>

  <ng-container matColumnDef="nip">
    <th mat-header-cell *matHeaderCellDef>Nip</th>
    <td mat-cell *matCellDef="let element">{{ element.nip }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>Miejscowość</th>
    <td mat-cell *matCellDef="let element">{{ element.city }}</td>
  </ng-container>

  <ng-container matColumnDef="postalcode">
    <th mat-header-cell *matHeaderCellDef>Kod pocztowy</th>
    <td mat-cell *matCellDef="let element">{{ element.postalcode }}</td>
  </ng-container>

  <ng-container matColumnDef="street">
    <th mat-header-cell *matHeaderCellDef>Ulica</th>
    <td mat-cell *matCellDef="let element">{{ element.street }}</td>
  </ng-container>

  <ng-container matColumnDef="buildingnumber">
    <th mat-header-cell *matHeaderCellDef>Numer domu</th>
    <td mat-cell *matCellDef="let element">{{ element.buildingnumber }}</td>
  </ng-container>

  <ng-container matColumnDef="apartment">
    <th mat-header-cell *matHeaderCellDef>Numer mieszkania</th>
    <td mat-cell *matCellDef="let element">{{ element.apartment }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon [routerLink]="['./edit', element.id]">edit</mat-icon>
      <mat-icon color="warn"  (click)="delete(element.id)" >delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" class="tablerow" ></tr>
</table>

<div class="button-container">
  <button color="primary" mat-fab aria-label="button" class="button" [routerLink]="['./add']">
    <mat-icon>add</mat-icon>
  </button>
</div>
