<mat-sidenav-container class="container">
  <mat-sidenav class="menu" mode="side" opened>
    <img
      src="https://bpc.pl/img/logo-footer.png"
      alt="logo"
      width="150"
      height="75"
    />

    <mat-list role="list" class="list">
      <mat-list-item role="listitem" class="listitem" aria-label="button">
        <a matLine [routerLink]="['/app/users']">Użytkownicy</a>
        <mat-icon>person</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" class="listitem" aria-label="button">
        <a matLine [routerLink]="['/app/users/add']">Dodaj użytkownika</a>
        <mat-icon>add</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" class="listitem" aria-label="button">
        <a matLine [routerLink]="['/app/clients']">Klienci</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" class="listitem" aria-label="button">
        <a matLine [routerLink]="['/app/clients/add']">Dodaj klienta</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" class="listitem" aria-label="button">
        <a matLine [routerLink]="['/app/tickets']">Zgłoszenia</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" class="listitem" aria-label="button">
        <a matLine [routerLink]="['/app/tickets/add']">Dodaj zgłoszenie</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <span class="spacer"></span>
      <button
        mat-raised-button
        [matMenuTriggerFor]="menul"
        class="logoutbutton"
      >
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >person</mat-icon
        >
      </button>
      <mat-menu #menul="matMenu">
        <button mat-menu-item [routerLink]="['../']">Wyloguj</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
