<mat-sidenav-container class="container">
  <mat-sidenav class="menu" mode="side" opened>
    <img
      src="https://bpc.pl/img/logo-footer.png"
      alt="logo"
      width="auto"
      height="7%"
      class="logo"
      [routerLink]="['/app/dashboard']"
    />
    <ngx-auth-firebaseui-avatar
      [canLogout]
      (onSignOut)="signOut($event)"
    ></ngx-auth-firebaseui-avatar>
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header hideToggle>
        <mat-icon class="icons">person</mat-icon>
        <a matLine>Użytkownicy</a>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <a matLine [routerLink]="['/app/users/add']">Dodaj użytkownika</a>
        <mat-icon class="icons">add</mat-icon>
      </mat-panel-description>
      <mat-panel-description>
        <a matLine [routerLink]="['/app/users']">Lista użytkowników</a>
        <mat-icon class="icons">person</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header>
        <a matLine>Klienci</a>
        <mat-icon class="icons">person_pin</mat-icon>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <a matLine [routerLink]="['/app/clients/add']">Dodaj klienta</a>
        <mat-icon class="icons">add</mat-icon>
      </mat-panel-description>
      <mat-panel-description>
        <a matLine [routerLink]="['/app/clients']">Lista klientów</a>
        <mat-icon class="icons">person_pin</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header>
        <a matLine>Zgłoszenia</a>
        <mat-icon class="icons">chat_bubble_outline</mat-icon>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <a matLine [routerLink]="['/app/tickets/add']">Dodaj zgłoszenie</a>
        <mat-icon class="icons">add</mat-icon>
      </mat-panel-description>
      <mat-panel-description>
        <a matLine [routerLink]="['/app/tickets']">Lista zgłoszeń</a>
        <mat-icon class="icons">list</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header>
        <a matLine>Raporty</a>
        <mat-icon class="icons">assignment</mat-icon>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <a matLine>Raporty zgłoszeń</a>
        <mat-icon class="icons">chat_bubble_outline</mat-icon>
      </mat-panel-description>
      <mat-panel-description>
        <a matLine>Raporty użytkowników</a>
        <mat-icon class="icons">person</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar"> </mat-toolbar>
    <mat-toolbar class="breadcrumbToolbar">
      <ol class="breadcrumb">
        <li *ngFor="let breadcrumb of breadcrumbs">
          <span
            [routerLink]="breadcrumb.url"
            routerLinkActive="router-link-active"
          >
            {{ breadcrumb.label }}
          </span>
        </li>
      </ol>
    </mat-toolbar>
    <router-outlet class="global-content"></router-outlet>

    <mat-toolbar class="toolbar footer">
      <div>strona stworzona przez</div>
      <div>Agencja Reklamowa Surprise Design | Natalia Borowiecka</div>
    </mat-toolbar>
  </mat-sidenav-content></mat-sidenav-container
>
