<mat-sidenav-container class="container">
  <mat-sidenav class="menu" mode="side" opened>
    <img
      src="https://bpc.pl/img/logo-footer.png"
      alt="logo"
      width="150"
      height="75"
    />
    <button mat-raised-button [matMenuTriggerFor]="menu" class="usersbutton">
      Użytkownicy
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/app/users']">
        Lista użytkowników
      </button>
      <button mat-menu-item [routerLink]="['/app/users/add']">
        Dodaj użytkownika
      </button>
    </mat-menu>
    <button mat-raised-button [matMenuTriggerFor]="menu2" class="clientsbutton">
      Klienci
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item [routerLink]="['/app/clients']">
        Lista klientów
      </button>
      <button mat-menu-item [routerLink]="['/app/clients/add']">
        Dodaj klienta
      </button>
    </mat-menu>
    <button mat-raised-button [matMenuTriggerFor]="menu3" class="ticketsbutton">
      Zgłoszenia
    </button>
    <mat-menu #menu3="matMenu">
      <button mat-menu-item [routerLink]="['/app/tickets']">
        Lista zgłoszeń
      </button>
      <button mat-menu-item [routerLink]="['/app/tickets/add']">
        Dodaj zgłoszenie
      </button>
    </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <span class="spacer"></span>
      <button
        mat-raised-button
        [matMenuTriggerFor]="menul"
        class="logoutbutton"
      >
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >person</mat-icon
        >
      </button>
      <mat-menu #menul="matMenu">
        <button mat-menu-item [routerLink]="['../']">Wyloguj</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
