<mat-card>
  <div>Dodaj klienta</div>
  <form class="addform" [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Imię" formControlName="name" required/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nazwisko" formControlName="surname" required/>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Numer telefonu"
        formControlName="phone"
        required
      />
    </mat-form-field>
    <!-- Dodac jedno pole / np checkbox. O nazwie: mam firme. 
    (change)="userSelectInput() " -->
    <!-- Wszystkie dodanowe pola, wrzucic w diva *ngIf="isCompany" -->

    <!-- <div *ngIf="isCompany"> -->
      <!-- caly formularz z firma w srodku -->

    <!-- </div> -->
    <mat-form-field>
      <input matInput placeholder="Nazwa firmy" formControlName="companyname" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Nip" formControlName="nip" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Miejscowość" formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Kod pocztowy"
        formControlName="postalcode"
      />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ulica" formControlName="street" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Numer domu"
        formControlName="buildingnumber"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Numer mieszkania"
        formControlName="apartment"
      />
    </mat-form-field>
    <button
      mat-raised-button
      class="button"
      [disabled]="!form.valid"
      (click)="save()"
    >
      Dodaj
    </button>
  </form>
</mat-card>
