<mat-card>
  <div>Dodaj klienta</div>
  <form class="addform">
    <mat-form-field [formGroup]="form">
      <input matInput placeholder="Imię" formControlName="name">
    </mat-form-field>
    <mat-form-field [formGroup]="form">
      <input matInput placeholder="Nazwisko" formControlName="surname">
    </mat-form-field>
    <mat-form-field [formGroup]="form">
      <input matInput type="number" placeholder="Numer telefonu" formControlName="phone">
    </mat-form-field>
    <button mat-raised-button class="button" (click)=save()>Dodaj</button>
  </form>
</mat-card>
