<mat-card>
  <div>Dodaj zgłoszenie</div>
  <form class="addform" [formGroup]="form">
    <mat-form-field>
      <mat-label>wybierz użytkownika</mat-label>
      <mat-select formControlName="user">
        <mat-option *ngFor="let user of users" [value]="user">
          {{ user.name }} {{ user.surname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Wybierz klienta</mat-label>
      <mat-select formControlName="client">
        <mat-option *ngFor="let client of clients" [value]="client">
          {{ client.name }} {{ client.surname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tytuł" formControlName="title" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Opis" formControlName="description" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Wybierz status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of TicketStatus | keyvalue" [value]="status.key">
          {{ status.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      class="button"
      [disabled]="!form.valid"
      (click)="save()"
    >
      Zapisz
    </button>
  </form>
</mat-card>
