<form class="addform" [formGroup]="form">
  <mat-card class="clientcard">
    <mat-card-header>
      <mat-card-title>Dane klienta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Imię: {{ ticket?.client?.name }} <br />
      Nazwisko: {{ ticket?.client?.surname }} <br />
    </mat-card-content>

    <mat-form-field>
      <mat-label
        >{{ ticket?.client?.name }} {{ ticket?.client?.surname }}
      </mat-label>
      <mat-select formControlName="client">
        <mat-option *ngFor="let client of clients" [value]="client">
          {{ client.name }} {{ client.surname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card class="usercard">
    <mat-card-header>
      <mat-card-title>Dane użytkownika</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Imię: {{ ticket?.user?.name }} <br />
      Nazwisko: {{ ticket?.user?.surname }} <br />
      Login: {{ ticket?.user?.login }} <br />
    </mat-card-content>

    <mat-form-field>
      <mat-label
        >{{ ticket?.user?.name }} {{ ticket?.user?.surname }}
      </mat-label>
      <mat-select formControlName="user">
        <mat-option *ngFor="let user of users" [value]="user">
          {{ user.name }} {{ user.surname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card class="infocard">
    <mat-card-header>
      <mat-card-title>Dodatkowe informacje</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <input matInput placeholder="Tytuł" formControlName="title" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Opis" formControlName="description" />
    </mat-form-field>
  </mat-card>

  <mat-card class="statuscard">
    <mat-card-header>
      <mat-card-title>Status i inne</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <mat-label>Wybierz status</mat-label>
      <mat-select formControlName="status">
        <mat-option
          *ngFor="let status of TicketStatus | keyvalue"
          [value]="status.key"
        >
          {{ status.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</form>
<mat-toolbar class="toolbar">
  <button
    mat-raised-button
    class="button"
    [disabled]="!form.valid"
    (click)="save()"
  >
    Zapisz
  </button>
</mat-toolbar>
