<form class="addform" [formGroup]="form">
  <mat-card class="clientcard">
    <mat-card-header>
      <mat-card-title>Dane klienta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Imię: {{ ticket?.client?.name }} <br />
      Nazwisko: {{ ticket?.client?.surname }} <br />
    </mat-card-content>

    <mat-form-field>
      <mat-label
        >{{ ticket?.client?.name }} {{ ticket?.client?.surname }}
      </mat-label>
      <mat-select formControlName="client">
        <mat-option *ngFor="let client of clients" [value]="client">
          {{ client.name }} {{ client.surname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card class="usercard">
    <mat-card-header>
      <mat-card-title>Dane użytkownika</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Imię: {{ ticket?.user?.name }} <br />
      Nazwisko: {{ ticket?.user?.surname }} <br />
      Login: {{ ticket?.user?.login }} <br />
    </mat-card-content>

    <mat-form-field>
      <mat-label
        >{{ ticket?.user?.name }} {{ ticket?.user?.surname }}
      </mat-label>
      <mat-select formControlName="user">
        <mat-option *ngFor="let user of users" [value]="user">
          {{ user.name }} {{ user.surname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card class="infocard">
    <mat-card-header>
      <mat-card-title>Dodatkowe informacje</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <input matInput placeholder="Tytuł" formControlName="title" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Opis" formControlName="description" />
    </mat-form-field>
  </mat-card>

  <mat-card class="statuscard">
    <mat-card-header>
      <mat-card-title>Komentarze</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <mat-label>Wybierz status</mat-label>
      <mat-select formControlName="status">
        <mat-option
          *ngFor="let status of TicketStatus | keyvalue"
          [value]="status.key"
        >
          {{ status.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <hr />
    <strong>Komentarze</strong>
    <table mat-table [dataSource]="dataSource" class="commentsTable">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <ng-container matColumnDef="commentuser">
        <th mat-header-cell *matHeaderCellDef>Użytkownik</th>
        <td mat-cell *matCellDef="let element">
          {{ element.commentuser }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Opis</th>
        <td mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- <table>
      <td>Data</td>
      <td>Użytkownik</td>
      <td>Treść</td>
      <tr *ngFor="let comment of comments">
        <td>{{ comment.date | date: 'shortDate' }}</td>
        <td>{{ comment.commentuser }}</td>
        <td>{{ comment.description }}</td>
      </tr>
    </table> -->
    <button mat-fab color="primary" class="addcomment" (click)="addComments()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-card [formGroup]="commentForm" *ngIf="addcomment">
      <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker1" [max]="maxDate" />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1 ></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="commentuser" disabled>
          <mat-option *ngFor="let user of users" [value]="user">
            {{ user.name }} {{ user.surname }}>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Treść</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <button mat-mini-fab (click)="savecomment()" color="primary">
        Zapisz
      </button>
    </mat-card>
  </mat-card>
</form>
<mat-toolbar class="toolbar">
  <button
    mat-raised-button
    class="button"
    [disabled]="!form.valid"
    (click)="save()"
  >
    Zapisz
  </button>
</mat-toolbar>
